<ul class="nav justify-content-center bg-light ">
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_home')}}">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_login')}}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_register')}}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_profil')}}">profil</a>
    </li>
</ul>